* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(to top, #f9e014 50%, #41bca8 50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.juego-container {
    background: rgba(65, 188, 168, 0.5);
    padding: 10px;
    border-radius: 15px;

}

#temporizador {
    font-size: 2.5em;
    font-family: 'Bungee', sans-serif;
    color: #125988;
    margin: 20px 0;
}

#pregunta {
    font-size: 1.5em;
    font-family: 'Ranchers', sans-serif;
    margin: 20px;
    color: #125988;
    text-align: center;
}

.opciones-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
}


.opcion {
    padding: 15px;
    background-color: rgb(255, 255, 255);
    color: #125988;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Ranchers', sans-serif;
    font-size: 1.2em;
    transition: transform 0.2s;
}

.opcion:hover {
    transform: scale(1.05);
}

.opcion.correcta {
    background-color: #2ecc71 !important;
    border: 2px solid #27ae60 !important;
}

.opcion.incorrecta {
    background-color: #e74c3c !important;
    border: 2px solid #c0392b !important;
}

#puntuacion {
    font-size: 1.5em;
    color: #2c3e50;
    margin-top: 20px;
    font-family: 'Bungee', sans-serif;
}