/* Estilos generales para el contenido de las categorías */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(to top, #ffaa2b 50%, #5345ff  50%); 
    display: flex;
    align-items: center;
    justify-content: center;
}

.categoria-contenido {
    display: block;
    text-align: center;
    padding: 2vw 4vw;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 2rem auto;
    width: 80%;
    max-width: 900px;
}

/* Estilo para los títulos de las categorías */
.categoria-contenido h2 {
    font-family: "Bungee", sans-serif;
    color: #3ba38d;
    text-shadow: 1px 1px 2px #41bca8;
    font-size: 2.5vw;
    margin-bottom: 1rem;
}

/* Estilo para las preguntas */
.categoria-contenido p {
    font-size: 1.2rem;
    font-family: "Ranchers", sans-serif;
    color: #d5c3f8;
    margin-bottom: 2rem;
}

/* Estilo para las opciones de respuestas */

.categoria-contenido li {
    background: #41bca8;
    color: #fff;
    margin: 0.8rem 0;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.categoria-contenido li:hover {
    background-color: #f9e014;
    transform: scale(1.05);
}

/* Responsividad */
@media (max-width: 768px) {
    .categoria-contenido h2 {
        font-size: 5vw;
    }

    .categoria-contenido p {
        font-size: 1.5rem;
    }

    .categoria-contenido li {
        font-size: 1.1rem;
    }
}

/* Aca viene lo nuevo y modificable */


#temporizador {
    font-size: 2.5em;
    font-family: 'Bungee', sans-serif;
    color: #e74c3c;
    margin: 20px 0;
}

#pregunta {
    font-size: 1.5em;
    font-family: 'Ranchers', sans-serif;
    margin: 20px;
    color: #e3ebf1;
    text-align: center;
}

.opciones-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
}

/* #3498db */
.opcion {
    padding: 15px;
    background-color: white;
    color: #125988;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Ranchers', sans-serif;
    font-size: 1.2em;
    transition: transform 0.2s;
}

.opcion:hover {
    transform: scale(1.05);
}

.opcion.correcta {
    background-color: #2ecc71 !important;
    border: 2px solid #27ae60 !important;
}

.opcion.incorrecta {
    background-color: #e74c3c !important;
    border: 2px solid #c0392b !important;
}

#puntuacion {
    font-size: 1.5em;
    color: #2c3e50;
    margin-top: 20px;
    font-family: 'Bungee', sans-serif;
}