/* Reseteo y estilos generales */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(to top, #f9e014 50%, #41bca8 50%);
    background-size: 100% 100%;
    background-position: top;
    font-family: "Ranchers", sans-serif;
}

/* Título principal */
h1 {
    text-align: center;
    font-size: 3.5vw;
    font-family: "Bungee", sans-serif;
    color: #000;
    text-shadow: 2px 2px #f9e014;
    margin-bottom: 2rem;
}

/* Contenedor principal */
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.iniciologo {
    background: none;
    width: 35vw;
    height: auto;
}

/* Botones */
.button {
    cursor: pointer;
    background: none;
    border: none;
}

.button-text {
    font-family: "Bungee", serif;
    color: #f9e014;
    font-size: 6vw;
    text-decoration: none;
    -webkit-text-stroke: 0.5vw #000000;
}

/* Contenedor de categorías */
.categoria-containers {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    gap: 3vw;
    background: linear-gradient(to bottom, #f9e014 50%, #41bca8 50%);
    width: 100vw;
    height: 100vh;
    padding: 3.5vw;
}

/* Estilo de cada categoría */
.categoria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 20%;
    background: white;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 2vw;
    margin: 1vw;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.categoria:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.categoria a {
    text-decoration: none;
}

.categoria-text {
    font-size: 2.5vw;
    color: #9e5aff;
    text-align: center;
    margin-top: 1rem;
}

.categoria-logo {
    width: 80%;
    height: auto;
    margin-bottom: 1rem;
}

/* Ajustes para pantallas más pequeñas */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .iniciologo {
        max-width: 80%;
    }

    .button-text {
        font-size: 6vw;
        letter-spacing: 0;
    }

    .categoria {
        max-width: 45%;
        padding: 1.5vw;
        margin: 2vw;
    }

    .categoria-logo {
        width: 70%;
        margin-bottom: 0.8rem;
    }

    .categoria-text {
        font-size: 1rem;
    }
}

/* Estilos específicos para el contenido */
/* .categoria-contenido {
    display: none;
}

#contenido {
    margin-top: 20px;
} */